html, body {
	height: 100%;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	padding: 50px;
}
.block-btn button {
	padding: 5px;
	border: none;
	margin-bottom: 5px;
	color: white;
}
.btn-start button:focus {
	border:none;
}
button#dynamic {
	background: red;
	color: white;
	margin-left: 20px;
}
button#static {
	background: #2196F3;
}
.btn-start:first {
}
div#block-switch {
	text-align: center;
	margin-bottom: 25px;
	width: ;
}
div#block-switch span{
}
div#block-switch .chunk {
    border: solid 1px grey;
    border-radius: 14px;
}
div#block-switch .chunk .sub-chunk {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: solid 1px grey;
	background: green;
}